/* general */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* utilities */

.flex {
    display: flex;
}

.grow {
    flex-grow: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.section-title {
    font-weight: 800;
}

.purple-text {
    color: #4a5882;
}


/* specifics */

header {
    background-color: #255ee9;
    color: white;
}

header .middle-navbar h4 {
    padding: 0 15px;
}

.top-navbar {
    justify-content: space-around;
    padding: 40px 125px 0px 125px;
}

.middle-navbar {
    justify-content: space-around;
    padding-top: 8px;
}

#sign-in {
    padding: 8px;
    background-color: white;
    border-radius: 13px;
    border: none;
}

#header-body {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.center-header {
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

#banner-text {
    max-width: 50%;
    text-align: center;
    margin-top: 30px;
}

.banner-buttons {
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 110px;
}

.banner-buttons .button {
    padding: 10px 30px;
}

#down-button {
    padding: 15px;
    background-color: white;
    border-radius: 18px;
    border: none;
    font-family: 'Roboto';
    font-weight: 900;
}

#open-button {
    padding: 15px;
    background-color: white;
    border-radius: 18px;
    border: none;
    font-family: 'Roboto';
    font-weight: 900;
    color: white;
    background-color: #23272a;
}

.white-section {
    justify-content: space-between;
    background-color: white;
    padding: 80px 250px;
}

.image1 {
    display: inline-block;
}

.white-text {
    justify-content: center;
}

.section-title {
    margin-bottom: 15px;
}

.grey-section {
    background-color: #ccc;
    justify-content: space-between;
    padding: 80px 250px;
}

.grey-section>div {
    margin-left: 80px;
}

.image2 {
    width: 500px;
    background-color: #444;
    margin-left: 100px;
}

.grey-section2 {
    text-align: center;
    background-color: #ccc;
    height: 500px;
    padding: 80px 250px;
    justify-content: space-around;
}

.footer-section {
    background-color: #23272a;
    height: 500px;
}

.footer-up {
    padding: 80px 250px;
    justify-content: space-between;
}

.footer-links {
    justify-content: space-around;
}

footer hr {
    width: 1400px;
    margin: 25px auto;
    background-color: #4a5882;
    height: 1px;
    border: none;
}

.footer-down {
    justify-content: space-between;
    padding: 80px 250px;
}